<html>

<head>
    <title>index</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="index1">
        <form method="post" action="/home/user">
            <label>For Fill the form press User button</label>
            <br />
            <input type="submit" class="block" value="User"/>
        </form>

        <form method="post" action="/home/admin">
            <label class="label">If you want to logIn as admin form press Admin button</label>
            <br />
            <input type="submit" class="block" value="Admin" />
        </form>
    </div>
</body>
</html>