<html>
<head>
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="jumbotron text-center" style="height:100%;">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">Thanks a bunch for filling that out. It means a lot to us, 
        just like you do! We really appreciate you giving us a moment of your time today.<br /> 
        Thanks for being you.</p>
        <hr>
        <p>
            Having trouble? <a href="#">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/home/index" role="button">Continue to Homepage</a>
        </p>
    </div>
</body>
</html>